
body {
	font-family: Arial Narrow ;
	text-align: center;
	font-variant: normal;
	font-size:12px;
	letter-spacing: 0px;
	text-decoration: none;
}

#title {
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	text-anchor: middle;
	padding-bottom: 5px;
}

#container {
	text-align: center;
	background-color: #FFF;
}

#main {
	pointer-events:none;
}

#left_axis_min_slider_id, #left_axis_max_slider_id, #bottom_axis_max_slider_id, #right_axis_max_slider_id, #second_slider_id{
	width: 140px;
	height: 15px;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.font1 {
	font-family: Arial Narrow;
	font-size: 13px;
}

.font2 {
	font-family: Arial Narrow;
	font-size: 12px;
}

.yRightLabel {
	font-family: Arial Narrow;
	font-size: 13px;
}

.grid line{
	stroke-dasharray: 6, 3;
	stroke: gray;
	stroke-width: 1;
	opacity: 0.6;
}

.currentdate {
	font-family: Arial Narrow;
	font-size: 14px;
	fill: #E82A37;
	text-anchor: end;
}

.currentdate_second {
	font-family: Arial Narrow;
	font-size: 14px;
	fill: #F6A615;
	text-anchor: end;
}

.line.close {
	stroke: #E82A37;
	stroke-width: 0.8;
	fill: none;
	opacity: 0.8;
}

.line.close_second{
	stroke: #F6A615;
	stroke-width: 0.8;
	fill: none;
	opacity: 0.75;
}

.spot {
	fill: #F35E4C;
	stroke: black;
	opacity: 1.0;
}

.spot_second {
	fill: #FFD7B3;
	stroke: black;
	opacity: 1.0;
}

.fut {
	fill: #E82A37;
	stroke: black;
	opacity: 1.0;
}

.fut_second{
	fill: #F6A615;
	stroke: black;
	opacity: 1.0;
}

.volumes {
	fill: #C0C0C0;
	/*fill: #7A8CB2;
	fill: #9e9ac8;*/
	stroke: black;
	stroke-width: 1;
	opacity: 0.35;
}

table {
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
}

#table_sliders td, #table_sliders th {
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	border: 0px black solid;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 6px;
	padding-right: 6px;
}

#second_span_id {
	width: 20px;
}

#table_fut {
	border: 0px black solid;
}

#table_fut tr td, #table_track th {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	border: 1px gray solid;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 6px;
	padding-right: 6px;
}

#table_fut td.first_col {
	width: 135px;
	font-weight: bold;
}

#table_fut td.next_col {
	width: 50px;
}

.invisible {
	visibility: hidden;
}

